@inject IBookLatLngService bookLatLngService
@inject IPolygonCoordinatesService polygonCoordinates
@inject IJSRuntime JSRuntime
<h3>Initialized Map</h3>

@if (bookLatLngs == null)
{
    <img src="https://media.giphy.com/media/y1ZBcOGOOtlpC/giphy.gif" />
    <text>Cargando ...</text>
}
else if (bookLatLngs.Count() == 0)
{
    <text>No hay registros a mostrar.</text>
}
else
{
    <h3>Parametro: @searchTerm</h3>
    <div class="input-group-append">
        <div id="map" style="height:500px;width:100%;"></div>
    </div>
}

@code {

    [Parameter] public string searchTerm { get; set; }


    int curPage;
    int pagerSize;
    int pageSize;
    string sortColumnName = "ID";
    string sortDir = "DESC";


    List<BookLatLng> bookLatLngs;
    List<PolygonCoordinates> PolygonCoordinates;

    protected override async Task OnInitializedAsync()
    {

        //await Task.Delay(300);

        pagerSize = 3;
        pageSize = 8;
        curPage = 1;
        if (searchTerm == "")
        {
            searchTerm = "9781292061184";
        }
        bookLatLngs = await bookLatLngService.ListAll((curPage - 1) * pageSize, pageSize, sortColumnName, sortDir, searchTerm);

        searchTerm = "1";
        pageSize = 1000;
        PolygonCoordinates = await polygonCoordinates.ListAll((curPage - 1) * pageSize, pageSize, sortColumnName, sortDir, searchTerm);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (bookLatLngs == null)
        {
            pagerSize = 3;
            pageSize = 8;
            curPage = 1;
            bookLatLngs = await bookLatLngService.ListAll((curPage - 1) * pageSize, pageSize, sortColumnName, sortDir, searchTerm);
        }

        if (firstRender)
        {


            int cont = 0;
            string[] verticesLinea = new string[PolygonCoordinates.Count];
            //{ lat: 6.317126129472491, lng: -75.55216700289957 },
            foreach (PolygonCoordinates polygonCoordinate in PolygonCoordinates)
            {
                verticesLinea[cont] = new string("{" + $"lat: {polygonCoordinate.Latitude}, lng: {polygonCoordinate.Longitude}" +"},");
                cont++;
            }

            var zoom = 15;
            BookLatLng booklatlng = bookLatLngs.FirstOrDefault();
            await JSRuntime.InvokeVoidAsync("initialize", bookLatLngs, booklatlng, zoom, verticesLinea);
        }
    }
}