@page "/"
@inject IJSRuntime JSRuntime

<h1>Display Google Map</h1>
<div id="map" style="height:500px;width:100%;">
</div>

@code{

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            List<BookLatLng> coordinates = new List<BookLatLng>();

            BookLatLng booklatlng = new BookLatLng()
            {
                ID = 1,
                ISBN = 9781292061184,
                Latitud = "6.317980459309707",
                Longitud = "-75.55077105765477",
            };
            coordinates.Add(booklatlng);

            //6.317980459309707, -75.55077105765477
            //6.317263373432214, -75.55338504108262
            //6.317476647167622, -75.55383833440473
            booklatlng = new BookLatLng()
            {
                ID = 1,
                ISBN = 9781292061184,
                Latitud = "6.317263373432214",
                Longitud = "-75.55338504108262",
            };
            coordinates.Add(booklatlng);


            booklatlng = new BookLatLng()
            {
                ID = 1,
                ISBN = 9781292061184,
                Latitud = "6.317476647167622",
                Longitud = "-75.55383833440473",
            };
            coordinates.Add(booklatlng);


            var zoom = 15;
            await JSRuntime.InvokeVoidAsync("initialize", coordinates, booklatlng, zoom);
            StateHasChanged();
        }

    }
}